<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="content-Type" charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <title>Title</title>
</head>
<body>
<h1>Enter terms below.</h1>

<form method="post" action="/poem/">
    <p><br><label>noun_one
        <input type="text" name="noun_one">
    </label></p>
    <p><br><label>noun_two
        <input type="text" name="noun_two">
    </label></p>
    <p><br><label>noun_thr
        <input type="text" name="noun_thr">
    </label></p>
    <p><br><label>noun_fou
        <input type="text" name="noun_fou">
    </label></p>
    <input type="submit">
</form>

</body>
</html>
