<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="content-Type" charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <link rel="stylesheet" href="{{ static_url('style.css') }}">
    <title>Title</title>
</head>
<body>
<h1>The Alpha Munger</h1>
<p>Enter two texts below. The replacement text will have its words
    replaced by words beginning with the same letter in the source text.</p>
<form method="post" action="/poem">
    <p>Source text<br>
        <textarea rows=4 cols=55 name="source"></textarea></p>
    <p>Text for replacement<br>
        <textarea rows=4 cols=55 name="change"></textarea></p>
    <input type="submit">
</form>
</body>
</html>
