<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="content-Type" charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <title>Title</title>
</head>
<body>
    <h1>Enter terms below.</h1>
        <form method="post" action="/poem">
        <p>str1<br><input type="text" name="str1"></p>
        <p>str2<br><input type="text" name="str2"></p>
        <p>str3<br><input type="text" name="str3"></p>
        <p>str4<br><input type="text" name="str4"></p>
        <input type="submit">
        </form>
</body>
</html>
